# for every expansion there's a section containing the names of the mods it depends on
[Grandpa's Farm]
Stardew Valley Expanded

# if mod A depends on mod B that itself depends on several mods you can mention mod B without
# mentioning the mods it depends on, provided you also include an entry for mod B
[Stardew Valley Expanded]
Content Patcher
Custom NPC Exclusions
Extra Map Layers
Farm Type Manager (FTM)
Json Assets
SAAT - Audio API and Toolkit
Shop Tile Framework

# mods that depend on other mods need a section of their own
[Json Assets]
Expanded Preconditions Utility
SpaceCore

# mods that aren't used by an expansion but need to be activatable also need a section of their own
# They get only a section header if there are no dependencies
[NPC Map Locations]

# this section contains the directories used by each mod
# the SMAPI entry contains directories belonging to the mod API program, they're here because they never should be deactivated
[Mod Directories]
SMAPI: ConsoleCommands, ErrorHandler, SaveBackup           
Content Patcher: ContentPatcher
Custom NPC Exclusions: CustomNPCExclusions
Expanded Preconditions Utility: ExpandedPreconditionsUtility
Extra Map Layers: ExtraMapLayers
Farm Type Manager (FTM): FarmTypeManager
Grandpa's Farm: Grandpa's Farm
Json Assets: JsonAssets
NPC Map Locations: NPCMapLocations
SAAT - Audio API and Toolkit: SAAT
Shop Tile Framework: ShopTileFramework
SpaceCore: SpaceCore
Stardew Valley Expanded: Stardew Valley Expanded
